# Next.js
.next/
out/
build/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# User Data (Security & Privacy)
uploads/*
converted/*
!uploads/.gitkeep
!converted/.gitkeep

# Env
.env*
.env.local

# Others
.DS_Store
*.log
